<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CRUD</title>
		<meta charset="UTF-8">

		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
		<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>	<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

		<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script> 
		<script src="/bower_components/bootstrap/js/button.js"></script>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" media="all">
		<script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>

		<script src="/js/module.js"></script>
		<script src="/js/controllers.js"></script>
		<script src="/js/adminController.js"></script>
		<script src="/js/services.js"></script>
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
		        
		<link rel="stylesheet" href="/css/style.css" media="all"> 
	</head>


	<body ng-app="appName" ng-controller='mainController'>

					<ui-view></ui-view>




	</body>
</html>

