/* Colors 
Red = #CB0000;
Blue = #5BCAE8;
*/

.buttons-cell {
	text-align:right;	
}

.table-container {
	margin-top:50px;
}

td {
	vertical-align:middle!important;
}

.btn {
	border-radius: 0%;
}


body {
	background-color: black;
}


/* // Home State // */
.mainForm {
	margin-top: 20%
}

.label-text {
	color: #5BCAE8;
	letter-spacing: 1px;
	font-size: 18px;
}

.main-input {
	border-radius: 0%;
	text-align: center;
}

.matchBtn {
	background-color: #CB0000;
	border: none
	font-size: 20px;
}

/* // Match State // */

/*Netflix Side */
.netflix {
	height: 100vh;
	width: 50%;
	background-color: #CB0000;
}

.movie-title {
	margin-top: 100px;
	margin-bottom: 50px;
}

.movie-image {
	border: 2px solid black;
	height: 300px;	
	background-color: white;
}

.movie-info-area {
	border: 2px dashed black;
	height: 300px;
}



/*Chilled Side */
.chilled {
	height: 100vh;
	width: 50%;
	background-color: #5BCAE8;
}

.beer-title {
	margin-top: 100px;
	margin-bottom: 50px;
}

.beer-image {
	border: 2px solid black;
	height: 300px;
	background-color: white;	
}

.beer-info-area {
	border: 2px dashed black;
	height: 300px;
}


