/* Colors 
Red = #CB0000;
Blue = #5BCAE8;
 */

@font-face {
    font-family: netflixFont;
    src: url('../BebasNeue.otf') format("opentype");
}

@font-face {
    font-family: chilledFont;
    src: url('../snowtt.ttf');
}

body {
    background-color: black;
}

h1 {
    margin: 0;
}

td {
    vertical-align: middle!important;
}


.headline-box {
	animation: wobbleX infinite;
	animation-duration:4s;
}

.headline {
	animation: wobbleY infinite;
	animation-duration:4s;
    margin-top: 100px;
    font-size: 100px;
}

.matchHeadline {
	font-size: 100px;
}

.and {
    color: #CB0000;
    font-size: 75px;
}

.mainHeadline {
    font-family: netflixFont;
    color: #CB0000;
    font-size: 108px;
}

.chilledHeadline {
    color: white;
    font-family: chilledFont;
}

.weight {
    text-align: center;
}

.weight-input {
    margin: auto;
    margin-top: 10px;
    width: 200px;
}

.buttons-cell {
    text-align: right;
}

.table-container {
    margin-top: 50px;
}


/*.btn {
border-radius: 0%;
}
 */

.match-container {
    margin: 20px;
}


/* // Home State // */

.mainForm {
    margin-top: 50px;
}

.label-text {
    color: #5BCAE8;
    letter-spacing: 1px;
    font-size: 18px;
}

.main-input {
    border-radius: 0%;
    text-align: center;
}

.matchBtn {
    background-color: #CB0000;
    border: none font-size: 20px;
}

.title {
    text-align: center;
    height: 80px;
}


/* // Match State // */


/*Netflix Side */

.netflix {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #CB0000;
    font-size: 18px;
}

.movie-title {
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: netflixFont;
    color: white;
}

.movie-image {
    border: 2px solid black;
    background-color: white;
    max-height: 400px;
    margin-bottom: 25px;
}

.movie-info-area {
    /*border: 2px dashed black;*/
    height: 160px;
    overflow-y: scroll;
}

#buttons {
    position: relative;
    top: 8px;
    width: 190px;
		height:0;
    z-index: 1;
    left: calc(50% - 95px);
}

#reRoll {
	    margin-right: 2px;
    width: 92px;

}
.re-button {
    /*position: absolute;
    top: 25px;
    width: 100px;
    z-index: 1;
    left: calc(50% - 50px);*/
    background-color: rgba(0, 0, 0, 0.64);
    border-color: #000000;
}


/*Chilled Side */

.chilled {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #5BCAE8;
    font-size: 18px;
}

.beer-title {
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: netflixFont;
    color: white;
}

.beer-border {
    height: 400px;
    margin-bottom: 25px;
}

.beer-image {
    border: 2px solid black;
    background-color: white;
    max-height: 400px;
}

.beer-info-area {
    /*border: 2px dashed black;*/
    height: 160px;
    overflow-y: scroll;
}

#drinksInfo {
    border-radius: 10px;
    padding: 15px;
    background-color: #fed;
    font-size: 20px;
    position: relative;
    bottom: 15px;
}

@keyframes wobbleY {
	0% {
		animation-timing-function:ease-out;	
	}
	12% {
		transform:translateY(-20px);	
		animation-timing-function:ease-in-out;
	}
	37% {
		transform:translateY(20px);	
		animation-timing-function:ease-in-out;
	}
	62% {
		transform:translateY(-20px);	
		animation-timing-function:ease-in-out;
	}
	87% {
		transform:translateY(20px);	
		animation-timing-function:ease-in;
	}
	100% {
		transform:translateY(0px);	
		animation-timing-function:ease-out;
	}
}

@keyframes wobbleX {
	0% {
			animation-timing-function:ease-out;
	}
	25% {
		transform:translateX(-50px) rotate(-10deg);	
		animation-timing-function:ease-in-out;
	}
	75% {
		transform:translateX(50px) rotate(10deg);	
		animation-timing-function:ease-in;
	}
}

@keyframes wobbleRot {
	0% {
			animation-timing-function:ease-out;
	}
	25% {
		animation-timing-function:ease-in-out;
	}
	75% {
		animation-timing-function:ease-in;
	}
}









