<div class="container-fluid match-container">
	<h1 class='matchHeadline text-center'><span class="mainHeadline">NETFLIX</span> <span class="and">&</span> <span class="chilledHeadline">CHILLED</span> </h1>
	<div id="buttons">
		
	<button class="btn btn-primary btn-lg re-button" id="reRoll" ng-click="reRoll()"><span ng-class="{'fa fa-refresh fa-spin fa-fw': loading}"></span><span ng-hide='loading'>Re-Roll</span></button>
	<button class="btn btn-primary btn-lg re-button" ng-click="restart()">Restart</button>
</div>
	
	<div class="row">
		<div class="col-sm-6 netflix text-center">
			<div class="row title">
				<h1 class="movie-title">{{movie.title}}</h1>
			</div>
			<div class='row'>
				<img class='movie-image' src="{{movie.poster}}"></img>
			</div>
			<div class="description panel panel-default">
				<div class='movie-info-area text-center'>
					<div class="panel-body">
						<div class="year">
							<p>Year: {{movie.year}} </p>
						</div>
						<div class="rating">
							<p>Rating: <b>{{movie.imdbRating}} / 10</b></p>
						</div>
						<div class="plot">
							<p>{{movie.plot}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-6 chilled'>
			<div class="row title">
				<h1 class="beer-title">{{beer.name}}</h1>
			</div>
			<div class='row text-center beer-border'>
				<img class='beer-image' src="{{beerImage}}"></img>
			</div>
			<div class="description panel panel-default">
				<div class='beer-info-area text-center'>
					<div class="panel-body">
						<div class="year">
							<p>Alcohol Percent: <b>{{beer.abv}}%</b></p>
						</div>
						{{beer.description}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row text-center" id="drinksInfo">
		<div>You're going to need a BAC of <b>{{desiredBAC | number:2}}</b> to enjoy this movie. To be at that BAC after the runtime of <b>{{movie.runtime | number:1}}</b> minutes, you should drink <b>{{numberBeers | number:1}}</b> {{beer.name}}s while watching {{movie.title}}
		</div>

		<div class="flavor-text">
			{{flavorText}}
		</div>

	</div>
</div>
